@page "/findisponivel"

<div class="text-center fs-3 my-5">
	Está ferramenta ja esta com uma ordem em andamento e não esta disponivel.
</div>
<div class="text-center">
	<a class="botao-principal" href="/ferramentas">
		Ferramentas
	</a>
</div>

@code {

}
