@page "/ferramenta/{FerramentaId}"

@inject ISessaoUsuario sessao
@inject IUsuarioEndpoints usuarioEndpoints
@inject IFerramentaEndpoints ferramentaEndpoints
@inject NavigationManager navManager

@if (inicializado)
{

	<div class="formulario44">
		<div class="photo-container">
			@if (Ferramenta?.ImagemString != string.Empty)
			{
				<div>
					<img src="data:image/jpeg;base64,@Ferramenta?.ImagemString" alt="Foto"
						 class="ferramenta-detalhes-foto">
				</div>
			}
			<div class="photo-info22">

				<div class="text-center-middle2">
					<div class="label-principal3">Nome da ferramenta</div>
					<div>@Ferramenta!.Nome</div>
				</div>




				<div class="text-center-middle2">
					<div class="label-principal3">Informações</div>
					<div class="elemento-node22">@Ferramenta!.Descricao</div>
				</div>
			</div>

		</div>

		<div class="text-center-middle2">
			<div class="label-principal3">

				<div>
					@if (Ferramenta!.Disponivel is true)
					{
						<div class="text-color-success">Disponivel</div>
					}
					else
					{
						<div class="text-color-danger">Indisponivel</div>
					}

				</div>

			</div>
		</div>




		<div class="photo-info2 my-3">

			<div class="d-flex justify-content-evenly align-items-center">


				<div class="d-flex justify-content-evenly align-items-center">


					<div class="photo-info2 ">
						<div class="mb-4 label-principal8">Data criação</div>
						<div class=" mb-3 text-normal"> @Ferramenta.DataCriacao.ToString("dd/MM/yyyy")</div>

					</div>
				</div>



				<div>

					<div class="d-flex justify-content-evenly align-items-center">


						@if (Ferramenta!.DataAtualizacao is not null)

						{
							<div class="photo-info2 ">
								<div class="mb-4 label-principal8">Ultima Atualização:</div>

								<div class=" mb-3  text-normal"> @Ferramenta.DataAtualizacao</div>
							</div>

						}

					</div>

				</div>
			</div>
		</div>



		<div class="d-flex my-10 justify-content-end align-items-center">
			@if (UsuarioLogadoModel!.Cargo == "Administrador")
			{
				@if (Ferramenta.Disponivel == true)
				{
					<div>
						<a href="/ordem/criar/@FerramentaId" class="botao-principal" style="margin-top: 20px">Criar ordem</a>
					</div>
				}
				<div>
					<a href="/ferramenta/editar/@Ferramenta.Id" class="botao-principal" style="margin-top: 20px">Editar</a>
				</div>
				<div style="margin-bottom: 7px;">
					<button @onclick="MostrarDelete" class="botao-principal"
							id="botao-principal" style="margin-top: 20px">
						@mostrarDeletarBotaoNome
					</button>
				</div>
			}
			<div>
				<a href="/ferramentas" class="botao-principal" style="margin-top: 20px; margin-left: 90px;">Voltar</a>
			</div>
		</div>
		@if (mostrarDeletarDiv)
		{
			<div class="text-center">
				<div>
					Tem certeza que deseja deletar essa ferramenta?
				</div>
				<div>
					<button @onclick="Deletar" class="botao-principal" style="margin-top: 20px">Confirmar</button>
				</div>
			</div>
		}
	</div>
}

@code {
	[Parameter]
	public string? FerramentaId { get; set; }

	private Guid UsuarioLogadoId { get; set; }
	private UsuarioModel? UsuarioLogadoModel { get; set; }
	private FerramentaModel? Ferramenta { get; set; }

	private string mostrarDeletarBotaoNome = "Deletar";
	private bool mostrarDeletarDiv = false;
	private bool inicializado = false;

	protected override async Task OnInitializedAsync()
	{
		if (FerramentaId == Guid.Empty.ToString())
		{
			navManager.NavigateTo("/naoencontrado");
			return;
		}

		await BuscarUsuarioLogadoId();

		if (UsuarioLogadoId == Guid.Empty)
		{
			navManager.NavigateTo("/login");
			return;
		}

		await BuscarUsuarioLogadoModel();
		await BuscarFerramentaModel();

		if (Ferramenta is null || UsuarioLogadoModel is null)
		{
			navManager.NavigateTo("/naoencontrado");
			return;
		}

		inicializado = true;
	}

	private async Task BuscarUsuarioLogadoId()
	{
		UsuarioLogadoId = await sessao.BuscarIdDoUsuarioLogado();
	}
	private async Task BuscarUsuarioLogadoModel()
	{
		UsuarioLogadoModel = await usuarioEndpoints.BuscarPorId(UsuarioLogadoId);
	}
	private async Task BuscarFerramentaModel()
	{
		Ferramenta = await ferramentaEndpoints.BuscarPorId(Guid.Parse(FerramentaId!));
		if (Ferramenta is not null && Ferramenta.Imagem is not null)
		{
			Ferramenta.ImagemString = Convert.ToBase64String(Ferramenta.Imagem);
		}
	}

	private async Task Deletar()
	{
		await ferramentaEndpoints.Deletar(Guid.Parse(FerramentaId!));
		navManager.NavigateTo("/ferramentas");
	}

	private void MostrarDelete()
	{
		if (mostrarDeletarDiv is false)
		{
			mostrarDeletarDiv = true;
			mostrarDeletarBotaoNome = "Ocultar";
			return;
		}

		mostrarDeletarDiv = false;
		mostrarDeletarBotaoNome = "Deletar";
	}
}
